
body {
    text-align: center;
    font-size: 14px;
}
.headers{
    font-family: 'Oswald', sans-serif;
    margin: 10px;
}

.text{
    font-family: 'Lato', sans-serif;
}

.Roboto_text{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    margin: 30px;
}

h2{
    font-size: 30px;
    margin: 30px;
}   

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

.large_text{
    font-size: 27px;
}

ul.top_complex_list {
    text-align: left;
}

ul.top_complex_list li{
    display: inline-block;
    font-size: 13px;
}


ul.complex_list{
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

ul.complex_list li{
    display: inline-block;
}

ul{
    list-style: None;
}

ul li{
    padding: 5px;
}